h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#boardContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    width:100%;
}

.boardRow {
    width: auto;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boardBox {
    /* Box */
    border: 2px solid lightgray;
    border-radius: 1rem;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.correct {
    background-color: green;
}
.present {
    background-color: yellow;
}
.absent {
    background-color: grey;
}

#keyboardContainer {
    flex-direction: column;
}

.keyboardRow {
    width: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.keyboardKey {
    width: 40px;
    height: 40px;
    margin: 1px;
    border: none;
    border-radius: 0.25rem;

    /* Text */
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.keyboardKey:hover {
    filter: brightness(75%);
}
.keyboardKey:active {
    filter: invert();
}