@font-face {
    font-family: ClearSans;
    src: url(fonts/ClearSans-Regular.woff);
  }

@font-face {
    font-family: KarnakCondensed;
    src: url(fonts/karnakcondensed-normal-700.woff);
  }

title {
    font-family: KarnakCondensed, Arial, Helvetica, sans-serif;
    text-align: center;
}


button {
    font-family: ClearSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 18px 12px;
    text-align: center;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

div {
    font-family: ClearSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    vertical-align: bottom;
}